@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-outfit: Outfit_400Regular, ui-sans-serif, system-ui, sans-serif;
  --font-outfit-bold: Outfit_700Bold, ui-sans-serif, system-ui, sans-serif;
  --spacing-global: 24px;
}

@layer theme {
  :root {
    @variant light {
      --color-primary: #000000;
      --color-invert: #ffffff;
      --color-secondary: #ffffff;
      --color-background: #f4f4f5;
      --color-text: #000000;
      --color-highlight: #ff2056;
      --color-border: rgba(0, 0, 0, 0.15);
      --color-darker: #f4f4f5;
    }

    @variant dark {
      --color-primary: #ffffff;
      --color-invert: #000000;
      --color-secondary: #262626;
      --color-background: #0a0a0a;
      --color-text: #ffffff;
      --color-highlight: #ff2056;
      --color-border: rgba(255, 255, 255, 0.15);
      --color-darker: #000000;
    }
  }
}
